.navbar {
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
.navbar li {
    margin-right: 20px;
  }
  
.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
  }
.navbar a:hover {
    color:  #27ae60;
  }
  
.themeButton {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
.themeButton:hover {
    background-color: #219653;
  }